body {
  margin: 0;
  font-family: "Montserrat";
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  width: 100%;
  background: linear-gradient(to right, #df1b1b, #921919);
}

.title {
  width: 100%;
  color: white;
  font-size: 1.5em;
  padding: 0.6em 4.5em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 80%;
  margin-bottom: 30px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  width: 80%;
  margin-top: 50px;
}
