body {
  margin: 0;
  font-family: "Montserrat";
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Raleway";
  font-weight: 400;
  width: 100%;
  background: linear-gradient(to right, #00b4db, #0083b0);
}

.navBarItem {
  color: white;
  font-size: 1.15em;
  padding: 1.5em 2em;
}

.navBarItem:hover {
  background: #0083b0;
}

.navBarItem:link {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  margin-bottom: 30px;
}

.backButton {
  position: relative;
  left: -35px;
  margin-top: 20px;
  font-size: 40px;
  font-family: "Raleway";
  cursor: pointer;
  width: 1em;
}

.containerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 4em;
  margin-bottom: 0;
}

.subtitle {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0;
}

.button {
  background: linear-gradient(to right, #00b4db, #0083b0);
  cursor: pointer;
  font-family: "Raleway";
  font-size: 1em;
  border: none;
  color: white;
  border-radius: 7px;
  min-height: 30px;
  margin: 10px 0 10px;
  padding: 10px 25px;
}

.card {
  font-family: "Montserrat";
  padding: 1em;
  border-radius: 10px;
  min-height: 50px;
  box-shadow: 0px 4px 17px -6px rgba(0, 0, 0, 0.3);
}

.clickeable {
  cursor: pointer;
}

.cardHeader {
  font-weight: bold;
  font-size: 1.1em;
}

.label {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.8em;
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: #e8e8e8;
  color: rgba(0, 0, 0, 0.6);
}

.subHeader {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.6);
}

.section {
  padding: 10px;
  margin-bottom: 30px;
}

.selectStatus {
  background: #e8e8e8;
  cursor: pointer;
  font-family: "Raleway";
  font-size: 1em;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 7px;
  min-height: 30px;
  margin: 10px 0 10px;
  padding: 10px 25px;
}

.selectStatus option {
  border: none;
  min-height: 30px;
  margin: 10px 0 10px;
  padding: 10px 25px;
}

.selectStatus option:checked,
.selectStatus option:hover {
  background-color: #e8e8e8;
  color: rgba(0, 0, 0, 0.6);
}

.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.formFieldAttribute {
  margin-top: 5px;
  height: 25px;
  font-family: "Raleway";
  border-radius: 5px;
  border: 1px #e8e8e8 solid;
}

.errorMessage {
  border: 1px salmon solid;
  background: seashell;
  margin: 5px 0 5px;
  padding: 1em;
  border-radius: 5px;
  color: rgb(199, 40, 23);
}
