.board {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 30px;
  border-radius: 10px;
  background-color: floralwhite;
}

.boardRow {
  display: flex;
  flex-direction: row;
}
