.button {
  background: linear-gradient(to right, #df1b1b, #921919);
  cursor: pointer;
  font-size: 1.5em;
  border: none;
  color: white;
  border-radius: 7px;
  min-height: 30px;
  margin: 10px 0 10px;
  padding: 10px 25px;
  height: 50px;
  width: 200px;
}
